:root {
  --background-color: #081e3d;
  --secondary-color: #2fe6c1;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: var(--secondary-color);
  font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.heading {
  text-align: center;
  margin: 40px 0px 50px 0px;
  font-size: 25px;
  letter-spacing: 2.5px;
}

.gameIcon {
  font-size: 40px;
  display: flex;
  justify-content: center;
  gap: 150px;
}

.score {
  font-size: 25px;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 40px;
}

#result {
  text-align: center;
  margin-top: 15px;
}

.playBtns {
  display: grid;
  justify-content: center;
  margin-top: 40px;
  gap: 40px;
}

.playBtn {
  background-color: var(--secondary-color);
  padding: 10px 30px;
  border: none;
  border-radius: 3px;
  font-size: 17px;
  font-weight: 700;
  letter-spacing: 2px;
  box-shadow: 0px 5px 4px var(--secondary-color);
  cursor: pointer;
}

.playBtn:hover {
  background-color: var(--background-color);
  color: var(--secondary-color);
  transition: all 0.3s ease-in-out;
  border: 1px solid var(--secondary-color);
}

.restartBtn {
  background-color: transparent;
  color: var(--secondary-color);
  border: 3px solid var(--secondary-color);
  border-radius: 3px;
  padding: 10px 30px;
  font-size: 17px;
  font-weight: 700;
  box-shadow: 0px 5px 4px var(--secondary-color);
  cursor: pointer;
}

.restartBtn:hover {
  background-color: var(--secondary-color);
  color: var(--background-color);
  transition: all 0.3s ease-in-out;
}

.footer {
  margin-top: 40px;
}

.footer hr {
  margin-bottom: 30px;
  color: var(--secondary-color);
  background-color: var(--secondary-color);
  height: 1.5px;
  border: none;
  opacity: 0.2;
}

.credits {
  text-align: center;
  font-size: 17px;
  letter-spacing: 2px;
}
