#counterLabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: monospace;
}

#btnContainer{
    text-align: center;
}

.button{
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background-color: grey;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}

.button:hover{
    background-color: black;
}